<div class="h-[80vh] flex justify-center items-center" *ngIf="isLoading">
  <mat-spinner [diameter]="56"></mat-spinner>
</div>

<div
  class="h-[80vh] flex justify-center items-center"
  *ngIf="!isLoading && categories === null && !isAdmin"
>
  Nothing found
</div>

<!-- REGULAR USER VIEW -->
<app-client-view
  [categories]="categories"
  *ngIf="!isLoading && !isAdmin"
></app-client-view>

<!-- ADMIN VIEW -->
<app-admin-view
  [categories]="categories"
  *ngIf="!isLoading && isAdmin"
></app-admin-view>
